<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="profile" href="http://gmpg.org/xfn/11" />
    <script src="//s.dailyreadingnews.com/zebra_cdn/static/funnews/js/jquery-3.4.1.min.js"></script>
    <link media="all" href="../static/template4/css/autoptimize_2f100e80f0a28db6f1794ea39253c7f7.css" rel="stylesheet" />
    <link media="screen" href="../static/template4/css/autoptimize_b6c6357df97615cbf9cc51f79364d686.css" rel="stylesheet" />
    <title>{{!title}}</title>
    <link rel="canonical" href="{{!url}}"/>
    {{!prev_link}}
    {{!next_link}}
    <meta property="og:locale" content="en_US"/>
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{!title}}" />
    <meta property="og:description" content="{{!description}}"/>
    <meta property="og:url" content="{{!url}}" />
    <meta property="og:site_name" content="News"/>
    <script type="text/javascript">
        $(function(){
            var touchmoved;
            $('.previous-page-link').on('touchend', function (e) {
                if (touchmoved != true) {
                    console.log('redirect');
                    window.location.href = document.getElementById("previous-page-link").href;
                }
            }).on('touchmove', function (e) {
                touchmoved = true;
            }).on('touchstart', function () {
                touchmoved = false;
            });
            var touchmoved2;
            $('.next-page-link').on('touchend', function (e) {
                if (touchmoved2 != true) {
                    console.log('redirect');
                    window.location.href = document.getElementById("next-page-link").href;
                }
            }).on('touchmove', function (e) {
                touchmoved2 = true;
            }).on('touchstart', function () {
                touchmoved2 = false;
            });
            $('#ruby-off-canvas-close-btn').on('click',function(){
                $('body').removeClass('mobile-js-menu')
            })
            $('.off-canvas-btn').on('click',function(){
                $('body').addClass('mobile-js-menu')
            })
        })
        
    </script>
    {{!gaCode}}
    {{!detail_header}}
    <head>
    <body class="post-template-default single single-post postid-6206 single-format-standard ruby-body is-full-width">
        <div class="off-canvas-wrap is-dark-text">
            <div class="off-canvas-inner">
                <a href="#" id="ruby-off-canvas-close-btn">
                    <i class="ruby-close-btn" aria-hidden="true"></i>
                </a>
                <div id="off-canvas-navigation" class="off-canvas-nav-wrap">
                    <ul id="menu-top" class="off-canvas-nav-inner">
                    </ul>
                </div>
            </div>
        </div>
        <div class="main-site-outer">
            <div class="header-outer header-style-1">
                <div class="top-bar-wrap clearfix">
                    <div class="ruby-container">
                        <div class="top-bar-inner clearfix">
                            <div class="top-bar-menu">
                                <ul id="menu-top-1" class="top-bar-menu-inner">
                                </ul>
                            </div>
                            <div class="top-bar-right"></div>
                        </div>
                    </div>
                </div>
                <div class="header-wrap">
                    <div class="header-banner-wrap clearfix">
                        <div class="header-logo-wrap">
                            <a class="logo-image" href="../index.html">
                                <img class="logo-img-data" data-no-retina
                                    srcset="//s.dailyreadingnews.com/zebra_cdn/static/funnews/img/555.png 1x, //s.dailyreadingnews.com/zebra_cdn/static/funnews/img/555.png 2x"
                                    src="//s.dailyreadingnews.com/zebra_cdn/static/funnews/img/555.png"
                                    alt="Anti Aging Story" style="max-height: 300px" height="300" width="2010" />
                            </a>
                        </div>
                    </div>
                    <div class="header-nav-wrap clearfix">
                        <div class="header-nav-inner">
                            <div class="ruby-container">
                                <div class="header-nav-holder clearfix">
                                    <div class="off-canvas-btn-wrap">
                                        <div class="off-canvas-btn">
                                            <a href="#" class="ruby-trigger" title="off canvas button">
                                                <span class="icon-wrap"></span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="header-logo-mobile-wrap">
                                        <a class="logo-image-mobile" href="../index.html">
                                            <img class="logo-img-data" data-no-retina
                                                src="//s.dailyreadingnews.com/zebra_cdn/static/funnews/img/555.png"
                                                alt="Anti Aging Story" height="150" width="1005">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-site-wrap">
                <div class="main-site-mask"></div>
                <div id="ruby-site-content" class="main-site-content-wrap clearfix">
                    <div class="single-post-outer clearfix">
                        <div class="ruby-page-wrap ruby-section row single-wrap single-style-1 is-sidebar-right ruby-container">
                            <div
                                class="ruby-content-wrap single-inner col-sm-8 col-xs-12 content-with-sidebar clearfix">
                                <article class="post-wrap post-6206 post type-post status-publish format-standard has-post-thumbnail hentry category-outbrain">
                                    <div class="single-header is-center">
                                        <div class="single-title post-title is-big-title ">
                                            <h1 class="entry-title">{{!title}}</h1>
                                        </div>
                                    </div>
                                    <div class="entry single-entry">
                                        <div class='ai-viewports ai-viewport-3'style="float:none;margin:3px 0 3px 0;text-align:center;">
                                            <div class="quads-ad-label">Advertisement</div>
                                            {{!detailTop}}
                                        </div>
                                        {{!content}}
                                        {{!detailBottom}}
                                        {{!pn_html}}
                                        <div class="clearfix"></div>
                                    </div>
                                </article>
                                <div class="blog-listing-wrap single-header" style="margin-top: 30px;">
                                    <div class="blog-content-wrap row">                                    
                                    </div>
                                </div>
                            </div>
                            <aside id="sidebar" class="sidebar-wrap col-sm-4 col-xs-12 clearfix">
                                <div class="ruby-sidebar-sticky">
                                    <div class="sidebar-inner">
                                        <section id="ai_widget-3" class="widget ai_widget">
                                            <div class='ai-viewports ai-viewport-1 ai-viewport-2'style="float:none;margin:3px 0 3px 0;text-align:center;">
                                                <div class="quads-ad-label">Advertisement</div>
                                                {{!sidebar_1}}
                                            </div>
                                        </section>
                                        <section id="ai_widget-5" class="widget ai_widget">
                                            <div class='ai-viewports ai-viewport-1 ai-viewport-2'style="float:none;margin:3px 0 3px 0;text-align:center;">
                                                <div class="quads-ad-label">Advertisement</div>
                                                {{!sidebar_2}}
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
                <footer id="footer" class="footer-wrap is-light-text">
                    <div class="top-footer-wrap">
                        <div class="top-footer-inner"></div>
                    </div>
                    <div class="footer-inner">
                        <div class="column-footer-wrap">
                            <div class="ruby-container row">
                                <div class="column-footer-inner">
                                    <div class="sidebar-footer sidebar-wrap col-sm-4 col-xs-12" role="complementary">
                                    </div>
                                    <div class="sidebar-footer sidebar-wrap col-sm-4 col-xs-12" role="complementary">
                                    </div>
                                    <div class="sidebar-footer sidebar-wrap col-sm-4 col-xs-12" role="complementary">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="footer-social-bar-wrap">
                            <div class="ruby-container">
                                <div id="footer-copyright" class="footer-copyright-wrap">
                                    <p>
                                    <div>
                                        <p>© 2020 Daily News-Bring you the latest news</p>
                                        <p>
                                            Contact Us：funtest9102@gmail.com
                                        </p>
                                    </div>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </body>
    <script>
        $(function(){
            var BASEURL = window.location.host;
            $.ajax({
                url:"../static/template4/data/list.json",
                success:function(res){
                    renderCat(res.category);
                    renderList(res.all_list)
                }
            })
            function renderCat(data){
                var menuTopHtml ="";
                var menuTop1Html ="";
                for (var i = 0; i < data.length; i++) {
                    var item = data[i];
                    menuTopHtml += '<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-6356 is-category-26">'
                    menuTopHtml += '    <a href="'+item.index+'">'+item.category+'</a>'
                    menuTopHtml += '</li>';
                    menuTop1Html += '<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-6356 is-category-26">'
                    menuTop1Html +='    <a href="'+item.index+'">'+item.category+'</a>'
                    menuTop1Html +='</li>'
                }
                $('#menu-top').html(menuTopHtml);
                $('#menu-top-1').html(menuTop1Html)
            }   
            function renderList(data){
                var num = selectFrom(0,data.length-10);
                var html = "";
                for (var i = num; i < (num+10); i++) {
                    var item = data[i];
                    html += '<article class="post-wrap post-list row row-eq-height">'
                    html += '    <div class="is-left-col col-sm-6 col-xs-4">'
                    html += '        <div class="post-thumb-outer">'
                    html += '            <div class=" post-thumb is-image ruby-holder">'
                    html += '                <a href="'+item.index+'"'
                    html += '                    title="These Male Celebrities Are Shortest Men In Hollywood But Have The Biggest Names!"'
                    html += '                    rel="bookmark">'
                    html += '                    <span class="thumbnail-resize">'
                    html += '                        <img width="360" height="250"'
                    html += '                            src="'+item.icon+'"'
                    html += '                            class="attachment-look_ruby_360_250 size-look_ruby_360_250 wp-post-image"'
                    html += '                            alt=""'
                    html += '                            srcset="'+item.icon+' 360w, '+item.icon+' 300w, '+item.icon+' 768w, '+item.icon+' 1024w, '+item.icon+' 1080w"'
                    html += '                            sizes="(max-width: 360px) 100vw, 360px" />'
                    html += '                    </span>'
                    html += '                </a>'
                    html += '            </div>'
                    html += '        </div>'
                    html += '    </div>'
                    html += '    <div class="is-right-col col-sm-6 col-xs-8">'
                    html += '        <div class="is-table">'
                    html += '            <div class="is-cell is-middle">'
                    html += '                <div class="post-header">'
                    html += '                    <div class="post-header-meta">'
                    html += '                        <div class="post-cat-info is-relative">'
                    html += '                            <a class="cat-info-el is-cat-10"'
                    html += '                                href="'+item.index+'"'
                    html += '                                title="'+item.category+'">'+item.category+'</a>'
                    html += '                        </div>'
                    html += '                        <div class="post-meta-info">'
                    html += '                            <span class="meta-info-el meta-info-cat">'
                    html += '                                <a href="'+item.index+'"'
                    html += '                                    title="'+item.category+'">'+item.category+'</a>'
                    html += '                            </span>'
                    html += '                        </div>'
                    html += '                    </div>'
                    html += '                    <h3 class="post-title is-medium-title">'
                    html += '                        <a href="'+item.index+'"'
                    html += '                            rel="bookmark"'
                    html += '                            title="'+item.title+'">'+item.title+'</a>'
                    html += '                    </h3>'
                    html += '                </div>'
                    html += '                <div class="post-excerpt">'
                    html += '                    <p>'+item.title+'</p>'
                    html += '                </div>'
                    html += '            </div>'
                    html += '        </div>'
                    html += '    </div>'
                    html += '</article>'                    
                }
                $('.blog-content-wrap').html(html)
            } 
            function selectFrom(lowerValue,upperValue){
                var choices=upperValue-lowerValue+1;
                return Math.floor(Math.random()*choices+lowerValue);
            }       
        })
    </script>
</html>
